/* CSS HEX
--carolina-blue: #67A9D8ff;
--almond: #E6D5C2ff;
--raw-umber: #905D39ff;
--feldgrau: #414C41ff;
--eerie-black: #1F2420ff; 
--dun: #C9BDB2ff;
--eerie-black: #1F2420ff;
--rosy-brown: #C59D98ff;
--almond: #E6D5C2ff;
--beaver: #A08970ff;
--tyrian-purple: #580D2Eff;
--van-dyke: #4C3F41ff;
--azure-web: #D0E4E6ff;
--seasalt: #F8F8F7ff;
--cadet-gray: #97B0B3ff;
*/

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.btn1 {
  padding: 0.8em 1.8em;
  /* border: 2px solid #580D2Eff; */
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #580D2Eff;
}
  .btn1::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) rotate(180deg);
  background: #580D2Eff;
  transition: .5s ease;
  display: block;
  z-index: -1;
  }
  
  .btn1:hover::before {
      width: 105%;
  }
  
  .btn1:hover {
      color: #ffffff;
  }
.NATU{
  font-family: "Bruno Ace SC", serif;
}
.login:hover{
  background-color: #580D2Eff;
}
.name{
  color: #E6D5C2ff;
}
.name2{
  color: #580D2Eff;
}
.genral.login:hover{
  background-color: #580D2Eff;
}
html {
    scroll-behavior: smooth;
    direction: rtl;
    unicode-bidi: embed;
    font-family: "Tajawal", serif;
}
body , .f1, .about , .login , .login2{
  font-family: "Tajawal", serif;
    font-weight:600;
    font-style: normal;
  }
  .hero {
    background-image: url('/img/elgama.jpg');
    background-size: cover;
    background-position: center;
    /* position: relative;  */
    overflow: hidden; 

  
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* طبقة غامقة */
    z-index: 1; /* تجعلها فوق الصورة */
  }
  

nav{
  position: fixed;  
  width: 100%;
  z-index: 999;
}
    nav ul li a {
        position: relative;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }



    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #D0E4E6ff; 
        transition: width 0.3s ease ;
    }

    nav ul li a:hover::after {
        width: 100%; 
    }

.about{
    background-color: white;
    width: 100%;
    height: max-content;
}

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

svg {
    font-family: "Tajawal", serif;
    font-weight: 700;
    font-style: normal;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 3s infinite alternate;
	stroke-width: 2;
	stroke: #223D66;
	font-size: 80px;
}
@keyframes stroke {
	0%   {
		fill: rgba(41,78,115,0); stroke: rgb(208, 228, 230);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(41,78,115,0); stroke: rgb(208, 228, 230); }
	80%  {fill: rgba(41,78,115,0); stroke: rgb(208, 228, 230); stroke-width: 3; }
	100% {
		fill: rgb(208, 228, 230); stroke: rgba(255, 255, 255, 0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    text-shadow: rgb(208, 228, 230);
	}
}

.about-section {
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
}
.bg-dark {
    background-color: rgba(24, 45, 66, 0.7); 
    
    padding: 5px;
    display: inline-block;
}
.text-about {
    flex: 2; 
    font-size: 30px;
    text-align: left;
    max-width: 600px;
    width: 100px;
    /* font-family: "Bruno Ace SC", serif; */
}
.photo-about {
    flex: 1; /* السماح للصورة بأخذ نسبة ثابتة من العرض */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 100%; /* جعل الصورة تملأ المساحة المخصصة */
    max-width: 300px;
    height: auto; /* الحفاظ على نسبة الأبعاد */
}

#scrollToTopBtn {
    display: none; /* يبدأ الزر مخفيًا */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    color: #a6e6ff;
    border-radius: 50%;
    background-color:#001346;
}

#scrollToTopBtn:hover {
    border-radius: 50%;
    background-color:#011a5ea8;
    color: #a6e6ff;
}
.cardser {
    /* background-color: #ffffff; */
    /* padding: 20px; */
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cardser:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .butser {
    background-color: #580D2Eff; /* لون الزر الأساسي */
    color: #ffffff; /* لون النص */
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .butser:hover {
    background-color: #ffffffcc;
    color: #001346;
    /* transform: scale(1.1);*/ 
    box-shadow: 0px 10px 15px rgba(0, 15, 153, 0.425); 
  }
  
  .cardser img {
    object-fit: cover;
    border-radius: 5px;
    
  }


*::-webkit-scrollbar {
    height: 9px;
    width: 9px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #EFEFEF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #C2C2C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #C2C2C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1A0075;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #0002A3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #0002A3;
  }
  aside{
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    background-color: #D0E4E6ff; 
    overflow-x: hidden;
}
main{
    margin-right: 220px;    
}
.sidebar ul li a {
    position: relative;

    transition: color 0.3s ease;
}
.sidebar ul li a::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #D0E4E6ff; 
        transition: width 0.3s ease ;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
    }

.sidebar ul li a:hover::after {
        width: 100%; 
    }

        #settingsModal, #passwordModal {
            transition: opacity 0.3s ease;
        }
        .loader {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #progress {
    transition: width 0.3s ease;
}
